:root {
    --background-border: color-mix(in lch, rgb(88, 11, 6), rgb(17, 1, 1));
}

  a:link {
    color: cornsilk;
}

a:visited {
    color: cornsilk;
}

@font-face {
    font-family: "jacquard24";
    src:
      url("jacquard24-regular-webfont.woff") format("woff");
    font-weight:999;
    font-style: normal;
}
  
/* Background color */
body {
    background-image: url('images/background.jpg');
}

* {
    margin: 2px 2px 2px 2px;
    padding: 2px;
}

hr{
    border-width: 0px;
}

.header_H{
    font-size: 20pt;
}

header { 
    color: cornsilk;
    grid-area: head;
}

nav{
    grid-area: nav;  
    
}

/* flex box for navigation */
.navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    width: max-content;
    height: max-content;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 7px;
    border-width: 5px;
    border-style: solid;
    border-top-color: rgba(0,0,0, 0.3);
    border-bottom-color: rgba(0,0,0, 0.3);
    border-right-color: rgba(0,0,0, 0.3);
    border-left-color: rgba(0,0,0, 0.3);
    background-color: color(display-p3 0.448 0.271 0.25 / 1);
    border-radius: 0.3cm;
}

.navigation_item {
    flex-shrink: 3;
    background-image: url('images/bookshelf.png');
    margin: 5px;
    padding: 10px;

    font-size: 15pt;
    font-weight: bold;

    border-width: 3px;
    border-style: solid;
    border-color: var(--background-border, black);
}

footer {
    grid-area: foot;
    text-align: center;
    color: cornsilk;
}

@media only screen and (min-width: 700px) {
    #page {
        display: grid;
        width: auto;
        height: auto;
        column-gap: 380px;
        row-gap: 20px;
        grid-template:
            [header-left] "head main" 4.5em [header-right]
            [main-left] "nav main" 400px [main-right]
            [footer-top] "foot main" 30px [footer-bottom];
    }
    header { 
        position: fixed; 
    }
    .navigation {
        position: fixed; 
        top: 90px; 
    }
    footer{
        position: fixed;
        top: 97vh; 
    } 
}

main{
    grid-area: main;
    z-index: 200;
}

img{
    max-width: 200px;
}
.attendees_style{
    font-size: large;
    color: #e3a6bf;
}

.attendees_style  > ul{
    font-size: 0.9em;
}

tr[class="title"] {
    font-size: larger;
    align-content: center;
}
tr[class="here"] {
    font-weight: bolder;
}



#agenda h2{
    font-size: x-large;
}

#agenda > ol{
    font-size: 1.05rem;
    margin-left: 0.5cm;
}

#agenda, #recap, #new, #nextMonth{
    color: #e3a6bf;
}

form{
    margin:auto;
    background-color: cornsilk;
    border-radius: 0.20cm 0.7cm 0.10cm 0.7cm;
    border-style: solid solid solid solid;
    border-color: rgb(237, 230, 203);
    color: hsl(18, 72%, 17%);
    border-top-width: calc(10px + 3vw);
    border-bottom-width: calc(10px + 3vw);
    border-right-width: calc(10px + 3vw);
    border-left-width: calc(10px + 3vw);

}

fieldset{
    background-color: cornsilk;
}

button:hover {
    background-color: #e3a6bf;
}

img:hover, video:active{
    display: block;
    background-color:cornsilk;
    padding: 10px 10px 10px 10px;
}

audio:active{
    display: block;
    background-color:cornsilk;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 0.5in;
    border-top-left-radius: 0.5in;
    border-bottom-left-radius: 0.5in;
    border-bottom-right-radius: 0.5in;
}
legend{
    font-size: larger;
    color: cornsilk;
    display: inline;
    background-color: color(display-p3 0.448 0.271 0.25 / 1);
    border-color: hsl(18, 72%, 17%) hsl(18, 72%, 17%) hsl(18, 72%, 17%) hsl(18, 72%, 17%);
    border-width: 3px 3px 3px 3px;
    border-top-style: solid;  
    border-bottom-style: solid;  
    border-right-style: solid;  
    border-left-style: solid;  
    padding: 5px;
}

fieldset > img{
    position: absolute;
    top: 80px;
    left: 340px;
}

h2{
    color: rgb(234, 225, 189)
}

h2 + p {
    background-color: rgba(0, 0, 0, 0.526);
}

h2~p, h2~details {
    background-color: rgba(0, 0, 0, 0.526);  
}

hr ~ section {
    border: 1px solid rgba(255, 248, 220, 0.5);
    border-radius: 00.40cm;
}

p:has(+ a) {
    color: rgba(255, 248, 220, 0.8);;
}

tr.absent{
    color: #f75c9d;
}

table {
    border-collapse: collapse;
    width: 100%;
    & tr:hover {
        background-color:  rgba(234, 225, 189, 0.5)
    }
}
  
th, td {
    padding: 8px;
    border-top: 1px solid cornsilk;;
    text-align: left;
    border-bottom: 1px solid cornsilk;
}
  