a:link {
    color: cornsilk;
}

a:visited {
    color: cornsilk;
}

@font-face {
    font-family: "jacquard24";
    src:
      url("jacquard24-regular-webfont.woff") format("woff");
    font-weight:999;
    font-style: normal;
}
  
/* Background color */
body {
    background-image: url('Untitled_Artwork.jpg');
}

* {
    margin: 2px;
    padding: 2px;
}

br{
    border-color: hsl(18, 72%, 17%);
    border-width: 2px;
    border-style: solid;
}

.header_H{
    font-size: 20pt;
}

header { 
    color: cornsilk;
    grid-area: head;
}

nav{
    grid-area: nav;  
    
}

/* flex box for navigation */
.navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    width: max-content;
    height: max-content;
    margin: 5px;
    padding: 7px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0, 0.3);
    background-color: color(display-p3 0.448 0.271 0.25 / 1);
}

.navigation_item {
    flex-shrink: 3;
    background-image: url('Untitled_Artwork.png');
    max-width: auto;
    margin: 5px;
    padding: 10px;

    font-size: 15pt;
    font-weight: bold;

    border-width: 3px;
    border-style: solid;
    border-color: rgba(0,0,0, 0.8);
}

footer {
    grid-area: foot;
    text-align: center;
    color: hsl(18, 72%, 17%);
}

@media only screen and (min-width: 700px) {
    #page {
        display: grid;
        width: auto;
        height: auto;
        column-gap: 380px;
        row-gap: 20px;
        grid-template:
            [header-left] "head main" 4.5em [header-right]
            [main-left] "nav main" 400px [main-right]
            [footer-top] "foot main" 30px [footer-bottom];
    }
    header { 
        position: fixed; 
    }
    .navigation {
        position: fixed; 
        top: 90px; 
    }
    footer{
        position: fixed;
        top: 97vh; 
    } 
}

main{
    grid-area: main;
    z-index: 200;
}


.attendees_style{
    font-size: large;
    color: color-mix(in lch, rgb(243, 214, 243), rgb(236, 133, 133) );
}

.attendees_style  > ul{
    font-size: 0.9em;
}

tr[class="title"] {
    font-size: larger;
    align-content: center;
}
tr[class="here"] {
    font-weight: bolder;
}


#agenda > h2{
    font-size: x-large;
}

#agenda > h2 > ul{
    font-size: 0.9rem;
}

#agenda, #recap, #new, #nextMonth{
    color: #e3a6bf;
}

form{
    background-color: cornsilk;
    border-radius: 0.7cm;
    border-width: calc(10px + 3vw);
    border-style: solid;
    border-color: rgb(237, 230, 203);
    color: hsl(18, 72%, 17%);
}

.forForm{
    background-color: cornsilk;
}

button:hover {
    background-color: #e3a6bf;
}

img:hover{
    display: block;
    background-color:cornsilk;
    padding: 10px 10px 10px 10px;
}
legend{
    font-size: larger;
    color: cornsilk;
    display: inline;
    background-color: color(display-p3 0.448 0.271 0.25 / 1);
    border-color: hsl(18, 72%, 17%);
    border-width: 3px;
    border-style: solid;  
    padding: 5px;
}